<div class="page-content"></div>
<div class="container" id="home-container">
	<div class="jumbotron text-center text-white">
	  <h1 class="display-4">RVJ Infotech</h1>
	  <p class="lead">We love crafting beautiful,smart and inspired work that is focused on a business'goals and their customers.We do this across multiple touch points to help organizations like yours acheive their goal.</p>
	  <hr class="my-4">
	  <p>We live our values.innovation,Respect for Teamwork,Respect for Customers and Respect for quality.</p>
	  <p class="lead">
	    <%= link_to "Sign Up!", login_path, class:"btn btn-success btn-lg"%>
	  </p>
	</div>
</div>
<%= link_to 'Articles listing', articles_path %>
<%= link_to 'About page', about_path %>
