<footer id="sticky-footer" class="text-center text-white fixed-bottom" style="background-color: #45637d;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©2023 Copyright:
    <a class="text-white" href="https://www.rvjtech.net/"> RVJ INFOTECH 2021. Made with </a>
  </div>
</footer>